body {
  padding: 1em;
  font-family: sans-serif;
}

#thanks-footer {
  margin-top: 1em;
  padding-top: 0.5em;
  border-top: 1px solid #282b2e;
}

#app #editor-parent>* {
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 5px;
}
#app #editor-parent>* pre {
  background: #aaa;
  border-radius: 3px;
  padding: 6px;
}

#app pre {
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #282b2e; /*obsidian.css*/
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "arial black", sans-serif;
  font-weight: 400;
}

a h1,
a:visited h1,
a:active h1 {
  color: #000;
}

h1.title {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin-top: 0;
}

#nav li.slate-tutorial::before {
  content: "Follow along with ";
}
#nav li.slate-tutorial::after {
  content: " in the Slate Tutorial: ";
}

#nav li.next::before {
  content: "Next: ";
}

#nav li.previous::before {
  content: "Previous: ";
}

#nav li.source-link::before {
  content: "Clojure for ";
}
#nav li.source-link::after {
  content: " on GitHub";
}

.objective::before {
  content: "Objective:";
  padding-right: 1em;
  font-weight: 600;
}

.description::before {
  content: "Try the finished product!";
  padding-right: 1em;
  font-weight: 600;
}

/* Designed with https://github.com/codepo8/css-fork-on-github-ribbon */
#forkongithub a{background:#282b2e;color:#ccd;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.15s;}
#forkongithub a:hover{background:#ccf;color:#282b2e;}
#forkongithub a::before,
#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#ccf;}
#forkongithub a:hover::before,
#forkongithub a:hover::after{background:#282b2e;}
#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){
#forkongithub {position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}
#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,16,0.8);}}
