{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        cljsjs/slate {:mvn/version "0.33.6-0"}
        cljsjs/slate-react {:mvn/version "0.12.6-0"}
        garden {:mvn/version "1.3.9"}
        rum {:mvn/version "0.11.4"}}
; :npm-deps false
 :paths ["src" "src-node" "target" "resources"]
 ; :infer-externs true
 ; ; #_#_
 ; :foreign-libs [{:file "dist/index.bundle.js"
 ;                 :provides ["slate" "slate-react" "react" "react-dom"]
 ;                 :global-exports {react React
 ;                                  react-dom ReactDOM
 ;                                  slate Slate
 ;                                  slate-react SlateReact}}]
 ;; setup a helpful alias to start the build
 :aliases {:build-dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
