^{:npm {:bundles {"dist/index.bundle.js" "src/js/index.js"}}
  :css-dirs ["resources/public/css"]}
{:main slatecljs.slate-walkthroughs
 :parallel-build true
 :stable-names true}
;  :pseudo-names true
;  :pretty-print true}
